.form {
  padding-top: 45px;
}
.form input {
  width: 400px;
  margin-top: 5px;
}
.i-heading {
  margin-right: 500px;
}
/* <a href="https://forms.office.com/r/igZvivDwCC" target="_blank" class="login-btn" id="">Hire Our Candidates</a> */
